{% extends 'baseBackend.html.twig' %}

{% block title %}Admin Dashboard{% endblock %}

{% block body %}

    <div class="content-wrapper">
    <div class="page-title">
        <div>
            <h1><i class="fa fa-dashboard"></i> Overview</h1>
            {#<p>Start a beautiful journey here</p>#}
        </div>
        <div>
            <ul class="breadcrumb">
                <li><i class="fa fa-home fa-lg"></i></li>
                <li><a href="{{ url('adminDashboard') }}">Overview</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <div class="widget-small primary coloured-icon"><i class="icon fa fa-calendar fa-3x"></i>
                        <div class="info">
                            <h4>Entries This Week</h4>
                            <p> <b>324</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="widget-small info coloured-icon"><i class="icon fa fa-area-chart fa-3x"></i>
                        <div class="info">
                            <h4>Total Entries</h4>
                            <p> <b>74,432</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="widget-small warning coloured-icon"><i class="icon fa fa-user fa-3x"></i>
                        <div class="info">
                            <h4>Users</h4>
                            <p> <b>1,432</b></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="widget-small danger coloured-icon"><i class="icon fa fa-warning fa-3x"></i>
                        <div class="info">
                            <h4>Confirmed Diseases</h4>
                            <p> <b>38</b></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <h3 class="card-title">Recent Epidemic Entries</h3>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}